################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/homework06/.vs/homework06
