################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/homework06/.vs/homework06
/homework06/homework06/bin
homework06/bin
homework06/bin/Debug/net8.0
homework06/obj
homework06/.vs/ProjectEvaluation
